# Latex
report/report.pdf
report/*.aux
report/*.bbl
report/*.bcf
report/*.blg
report/*.fdb_latexmk
report/*.fls
report/*.lof
report/*.log
report/*.run.xml
report/*.synctex.gz
report/*.toc
report/*.xmpdata
report/*.lof
report/*.lot
report/*.out
report/*.fmt
report/*.fot
report/*.cb
report/*.cb2
report/*.lb
report/*.xmpi
